

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ↑ Ajusta As Medidas de Nossa(s) Página(s) Para as Exigências de Diferentes Navegadores! ↑ */

header {
    background: #0F1836;
    padding: 1.5em;
    font-size: large;
}

.menu_bottom_categorias {
    display: inline-block;
    align-items: center;
    text-align: center;
}

ul li nav a .menu_bottom_categorias {
    display: inline-block;
    text-align: center;
    text-decoration: underline;
}

main {
    display: inline-flex;
    width: 30vw;
    height: 30vh;
}

article {
    background: #405AB0;
    margin: 1em;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
    transition: all .6s;
    /* Animação de 0.6 segundos */
}

article:hover {
    background: #405AB0;
    transform: scale(1.05);
    /* */
}

/* body {
    background-image: url(https://images.pexels.com/photos/3934512/pexels-photo-3934512.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
  } ↑ Para que a Imagem de Fundo Permaneça No Topo Da Página,
    Não Acompanhando o Rolamento da Mesma ↑ */

body {
    background-color: #AAAAE6;
}

/* ↑ Base Básica; Tentar Adicionar a Imagem e, Quem Sabe,
   Uma Espécie de Degradê Até Esta Cor Depois ↑ */

footer {
    background: #0F1836;
    text-align: center;
    padding: 1.5em;
}