

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ↑ Ajusta As Medidas de Nossa(s) Página(s) Para as Exigências de Diferentes Navegadores! ↑ */

header {
    background: #0F1836;
    padding: 1.5em;
    font-size: large;
}

.menu_bottom_categorias {
    display: inline-block;
    align-items: center;
    text-align: center;
}

ul li nav a .menu_bottom_categorias {
    display: inline-block;
    text-align: center;
    text-decoration: underline;
}

main {
    display: inline-flex;
    width: 30vw;
    height: 30vh;
}

article {
    background: #405AB0;
    margin: 1em;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
    transition: all .6s;
    /* Animação de 0.6 segundos */
}

article:hover {
    background: #405AB0;
    background-color: aqua;
    transform: scale(1.05);
    /* */
}

img .Imagens_Main {
    width: ;
    height: ;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
body {
    background-image:
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
  } /* ↑ Para que a Imagem de Fundo Permaneça No Topo Da Página,
    Não Acompanhando o Rolamento da Mesma ↑ */

body {
    background-color: #AAAAE6;
    font-family: 'Poppins', sans-serif;
}

/* ↑ Base Básica; Tentar Adicionar a Imagem e, Quem Sabe,
   Uma Espécie de Degradê Até Esta Cor Depois ↑ */

footer {
    background: #0F1836;
    text-align: center;
    padding: 1.5em;
}