* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ↑ Ajusta As Medidas de Nossa(s) Página(s) Para as Exigências de Diferentes Navegadores! ↑ */

/* ↓ Importa uma Fonte do Google Fonts; Logo, Não é Necessário Baixá-la! ↓ */

@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

/* ↑ Importa uma Fonte do Google Fonts; Logo, Não é Necessário Baixá-la! ↑ */

html {
    height: 100%;
    overflow-x: hidden; /* Oculta a Barra de Rolagem Horizontal */
}

header {
    background: #0F1836;
    padding: 1.5em;
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 100vw;
}

.nome_e_logo {
    color: #bf53e0;
    margin: 5px;
}

.menu_bottom_categorias {
    text-align: center;
}

.menu_bottom_categorias ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.menu_bottom_categorias ul li {
    margin: 10px;
    padding: 0 1.5em;
}

.menu_bottom_categorias ul li a {
    color: #AAAAE6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
    text-decoration: underline;
    cursor: pointer;
}

.menu_bottom_categorias ul li a:hover {
    color: #bf53e0;
}

article {
    background: #405AB0;
    display: flex;
    margin: 6.5em;
    padding: 1.5em;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 20px;
    width: 775;
    height: 510;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    /* 'cover' ou 'contain' dependendo do efeito desejado */
}

a {
    color: #0F1836;
}

body {
    height: 100%;
    margin: 0;
    background-color: #AAAAE6;
    font-family: 'Times New Roman', 'Times', 'serif sans-serif', system-ui;
}

.Notícias {
    background: #405AB0;
    display: flex;
    flex-direction: column;
    margin: 1.5em 5vw;
    padding: 1.5em;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

p {
    font-size: 1.5rem;
    line-height: 1em;
    margin: 1em 0;
    text-align: center;
    font-weight: bold;
}

.Matéria p {
    font-size: 1.5rem;
    line-height: 1em;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    font-weight: normal;
}

.Orbite {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

h1 {
    color: #0F1836;
    line-height: 1em;
    margin: 1em 0;
    font-weight: bold;
}

h4,
h5 {
    font-size: 1.5rem;
    line-height: 1em;
    margin: 1em 0;
    text-align: center;
    font-weight: bold;
}

.Logo_Nerd_Nebula {
    align-items: flex-end;
    margin: 3px;
}

footer {
    background: #0F1836;
    color: #bf53e0;
    text-align: center;
    padding: 1.5em;
    width: 100vw;
}

.copyright {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    margin: 5px;
}